@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ece3ce;
    --text-shadow: #739072;
    --foreground-rgb: 255, 255, 255;
    --background: #3a4d39;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  text-shadow: var(--text-shadow) 0px 2px;
  color: var(--text-color);
  background: var(--background);
}
